<!doctype html>
<html>
<link rel="stylesheet" href="{{url_for('static', filename='css/landing.css')}}">
<body>

<h1>Portal medyczny Jerzego Zięby</h1>
<h2>Lista ofiar szczepionek:</h2>
<form method="POST">
    <input name="text">
    <input type="submit" value="Search">
</form>
{{ header }}
{% for patient in patients %}
<table class="patient">
    <p class="patient_name"> Patient: {{ patient.name}} {{patient.surname}} </p>
    {% for procedure in patient.procedures %}
        {% if procedure.type == 'short' %}
        <tr>
            <th>{{procedure.startDate}}:</th>
            <th>{{procedure.name}}</th>
        </tr>
        {% else %}
        <tr>
            <th>{{procedure.startDate}}:</th>
            <th>{{procedure.name}}</th>
        </tr>
        {% endif %}
    {% endfor %}
</table>
{% endfor %}

</body>
</html>